<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="PlanSource Assessment">
    <classes>
        <class name="LoginToPortalTest"/>
        <class name="CreateNewEmployeeTest"/>
        <class name="NewHireEnrollmentTest"/>
        <class name="AddDependentTest"/>
        <class name="AddPlansTest"/>
        <class name="DentalApiTest"></class>
        <class name="verifyConfirmationPDFTest"></class>
    </classes>
</test>
</suite>